<!-- header.html -->
<header>
  <div class="header-container">
    <div class="header-items">
      <p>
        <a href="#" target="_blank" rel="noopener noreferrer">Gestión Guarani</a>
        | 
        <a href="#" target="_blank" rel="noopener noreferrer">Administración</a>
      </p>
    </div>
    <div class="header-main">
      <img src="/assets/images/logo-ifts.png" alt="Logo" />

      <p><span class="header-main-title">INSTITUTO DE FORMACIÓN TÉCNICA SUPERIOR N°21</span></p>
      <p>Ministerio de Educación</p>
      <p>Gobierno de la Ciudad de Buenos Aires</p>
    </div>
    <div class="dropdown">
      <select onchange="location = this.value;">
        <option value="#">MENU</option>
        <option value="index.html">- Home</option>
        <option value="carreras.html">- Carreras</option>
        <option value="adm-publica.html">-- Técnico Sup. en Adm. Pública</option>
        <option value="analisis-sistemas.html">-- Técnico Superior en Análisis de Sistemas</option>
        <option value="info-general.html">- Información General</option>
        <option value="institucion.html">- Institución</option>
        <option value="nuestra-institucion.html">-- Nuestra Institución</option>
        <option value="autoridades.html">-- Autoridades</option>
        <option value="docentes.html">- Docentes</option>
        <option value="aula-virtual.html">- Aula Virtual</option>
        <option value="guarani.html">- Guarani Alumnos</option>
        <option value="contacto.html">- Contacto</option>
        <option value="alumnos.html">- Alumnos</option>
      </select> 
    </div>
  </div>
</header>
