.card-footer-container {
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;

  img {
    width: 100%;
    height: auto;
  }

  .description {
    color: #55abda;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  address {
    padding-top: 2rem;
    color: #979797;
  }
}

@media (min-width: 1024px) {
  .card-footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card-footer-left {
    display: flex;
    flex-direction: column;
  }

  address {
    width: 100%;
    padding-top: 1rem !important;
    font-size: smaller;
  }
}
