<div class="card-footer-container">
  <div class="card-footer-left">
    <figure>
      <img src="/assets/images/map-footer.png" alt="img-mapa" />
    </figure>
    <div class="description">
      <a
        href="https://www.google.com.ar/maps/place/Carlos+Spegazzini+450,+Buenos+Aires,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires/@-34.6187188,-58.4264579,17z/data=!3m1!4b1!4m2!3m1!1s0x95bcca5af19b7b31:0xc64fc4819bf84707"
        target="_blank"
        rel="noopener noreferrer"
        >Encuentranos en Google Maps »</a
      >
    </div>
  </div>
  <address>
    IFTS N°21 <br />
    Pasaje Carlos Spegazzini 450 <br />
    C.A.B.A. <br />
    Horarios 17:30 a 21:00 hs. <br />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      fill="currentColor"
      class="bi bi-telephone-fill"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
      />
    </svg>
    Tel. 4983-0331/0885
  </address>
</div>
