<!-- panelHeader.html -->
<header>
    <div class="header-container">
      <div class="header-main">
        <div class="header-img">
          <img src="/assets/images/logo-ifts.png" alt="Logo" />
        </div>

        <div class="header-text">
          <p>
            <span class="header-main-title"
              >INSTITUTO DE FORMACIÓN TÉCNICA SUPERIOR N°21
            </span>
          </p>
          <p>Ministerio de Educación</p>
          <p>Gobierno de la Ciudad de Buenos Aires</p>
        </div>
      </div>

      <nav>
        <ul class="menu">
          <li>
            <a href="#">PANEL</a>
          </li>
          <li>
            <a href="#">MATERIAS</a>
          </li>
          <li>
            <a href="#">FINALES</a>
          </li>
          <li><a href="#">NOTAS</a></li>
          <li><a href="#">CAMBIO CLAVE</a></li>
          <li><a href="/router/alumnos.html">LOGOUT (<span id="user-name">Cargando...</span>)</a></li>
        </ul>
      </nav>
    </div>
  </header>