/* card info */
.card-container-info {
  background-color: aliceblue;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1rem;

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .title-main {
    text-align: center;
    font-size: x-large;
  }

  figure {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  .img-institucion {
    padding: 0.5rem;
    border: 1px solid #c5c5c5;
  }

  .text-info {
    /* background-color: aqua; */
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .description-space {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .items {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;

    ul {
      width: 100%;
      padding: 0;
    }

    li {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-weight: bold;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .more-info {
    display: flex;
    text-align: center;
  }

  .title-ubication {
    padding-top: 1.5rem;
    width: 100%;
    text-align: start;
  }

  iframe {
    padding-top: 1rem;
    padding: 0;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .bus-text {
    padding-top: 1rem;
  }

  .facebook-title {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: start;
  }

  .card-facebook {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: var(--bg-primary-color);
    border-radius: 1rem;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    svg {
      color: #55abda;
    }

    .card-facebook-title {
      color: #55abda;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }

    .card-facebook-description {
      color: aliceblue;
      font-weight: bold;
    }
  }
}

@media (min-width: 1024px) {
  .card-container-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;

    figure {
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .dk-top {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding-top: 1rem;
  }

  /* .dk-right {
    background-color: red;
  } */

  .dk-bottom {
    /* background: #192a56; */
    grid-column: span 2;
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }

  .more-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 2rem;
    margin-top: 10px;

    img {
      width: 120px;
      height: auto;
    }
  }

  /* arreglar el !important */
  .card-facebook {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }

  .divider {
    width: 2px;
    height: 10vh;
    background-color: aliceblue;
  }

  li {
    padding: 4rem;
  }
}
