/* card links */
.card-container-links {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;

  .image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  #displayImage {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .card-imagen {
    position: absolute;
    top: 15%;
    right: 0%;
    background: rgba(255, 255, 255, 0.318);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    text-align: start;
    color: black;
    font-size: smaller;
  }

  .card-imagen p {
    padding: 0.5rem 0;
  }

  .card-imagen a {
    padding: 1rem 1rem 0 0;
    display: block;
    color: #55abda;
    text-decoration: none;
    text-align: end;
  }

  .card-imagen:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  ul li:first-child {
    background-color: #06213f;
    color: aliceblue;
  }

  li {
    cursor: pointer;
    padding: 10px;
    background-color: #dedacb;
    color: #666666;
    font-size: small;
    font-weight: bold;
    border-radius: 0;
    border: 0.5px solid #666666;
  }

  li:hover {
    background-color: #06213f;
    color: aliceblue;
  }

  li:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

@media (min-width: 1024px) {
  .card-container-links {
    padding: 1rem;
    position: relative;
    /* width: fit-content; */

    .image-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    #displayImage {
      width: 100%;
      display: block;
      height: auto;
    }

    .card-imagen {
      position: absolute;
      top: 12%;
      right: 5%;
      background: rgba(255, 255, 255, 0.318);
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 40%;
      transition: opacity 0.3s ease-in-out;
      text-align: start;
      color: #666666;
    }

    .card-imagen p {
      padding: 0.5rem 0;
    }

    .card-imagen a {
      padding: 1rem 1rem 0 0;
      display: block;
      color: #55abda;
      text-decoration: none;
      text-align: end;
    }

    .card-imagen:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      width: 100%;
    }

    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px;
      background-color: #dedacb;
      color: #666666;
      font-size: smaller;
      font-weight: bold;
      border-radius: 0;
      border: 0.5px solid #666666;
    }

    li:hover {
      background-color: #06213f;
      color: aliceblue;
    }

    li:first-child {
      border-bottom-left-radius: 1rem;
    }

    li:last-child {
      border-bottom-left-radius: 0rem;
      border-bottom-right-radius: 1rem;
    }
  }
}
