* {
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
  font-family: "Times New Roman";
}

:root {
  --bg-primary-color: #06213f;
  --txt-primary-color: #f9f9f9;
  --txt-secondary-color: #979797;
}

body {
  background-color: var(--bg-primary-color);
}

@media (min-width: 1024px) {
  body {
    margin: 0 10rem;
  }
}

@media (min-width: 1440px) {
  body {
    margin: 0 15rem;
  }
}
